@import url("@radix-ui/colors/gray.css");
@import url("@radix-ui/colors/gray-alpha.css");
@import url("@radix-ui/colors/gray-dark.css");
@import url("@radix-ui/colors/gray-dark-alpha.css");
@import url("@radix-ui/colors/pink.css");
@import url("@radix-ui/colors/pink-alpha.css");
@import url("@radix-ui/colors/pink-dark.css");
@import url("@radix-ui/colors/pink-dark-alpha.css");
@import url("@radix-ui/colors/black-alpha.css");
@import url("@radix-ui/colors/white-alpha.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg: var(--gray-a1);
    --fg: var(--gray-12);
    --muted: var(--gray-8);
    --border: var(--gray-4);
    --kbd-background: var(--gray-3);
    --kbd-foreground: var(--gray-11);
    --kbd-border: var(--gray-4);
    --highlight-background: var(--yellow-3);
    --highlight-foreground: var(--yellow-11);
    --radius-small: 4px;
    --radius-base: 8px;
    --radius-large: 12px;
  }

  * {
    --webkit-font-smoothing: antialiased;
    --moz-osx-font-smoothing: grayscale;
    font-variant-ligatures: common-ligatures;
    text-wrap: pretty;
    text-rendering: optimizelegibility;
  }

  html {
    @apply text-foreground bg-background;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply font-medium;
    }

    sub,
    sup {
      @apply text-muted;
    }

    sub {
      @apply text-small;
    }

    a {
      @apply transition hover:underline;

      &:focus,
      &:active {
        outline: none;
        box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.2);
      }

      &[target="_blank"] {
        position: relative;

        &:after {
          position: relative;
          top: -2px;
          margin-left: 2px;
          content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' class='i-external' viewBox='0 0 32 32' width='12' height='12' fill='none' stroke='rgba(73,80,87,0.7)' stroke-linecap='round' stroke-linejoin='round' stroke-width='9.38%'><path d='M14 9 L3 9 3 29 23 29 23 18 M18 4 L28 4 28 14 M28 4 L14 18'/></svg>");
        }
      }
    }

    button {

      &:focus,
      &:active {
        outline: none;
        box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.2);
      }
    }
  }

  body {
    line-height: 1.5;
    display: grid;
    grid-template-columns: [start] 0.75rem [left-sidebar] 0 [main] 1fr [right-sidebar] 0 [right-edge] 0.75rem [end];

    @media all and (min-width: 768px) {
      grid-template-columns: [start] auto [left-sidebar] 0 [main] 700px [right-sidebar] 0 [right-edge] auto [end];
    }

    @media all and (min-width: 1024px) {
      grid-template-columns: [start] auto [left-sidebar] 160px [main] 700px [right-sidebar] 160px [right-edge] auto [end];
    }
  }

  article {

    p,
    h1:not(:first-child),
    h2:not(:first-child),
    h3:not(:first-child),
    h4:not(:first-child),
    h5:not(:first-child),
    h6:not(:first-child),
    blockquote:not(:first-child),
    ul:not(:first-child),
    ol:not(:first-child),
    pre:not(:first-child),
    figure:not(:first-child) {
      margin-bottom: 24px;
    }

    code {
      font-size: 0.85em;
    }

    ul {
      li {
        list-style-type: "✦";

        &::marker {
          color: var(--gray-a7);
        }

        ul li {
          list-style-type: "-";
        }
      }
    }

    ol {
      li {
        list-style-type: decimal;

        &::marker {
          color: var(--gray-9);
          font-weight: 500;
        }
      }
    }

    figure[data-mdx-image] {
      display: grid;
      grid-template-columns: [main] 100%;

      @media all and (min-width: 1024px) {
        display: grid;
        grid-template-columns: [main] 700px [right-sidebar] 160px [right-edge];
      }
    }
  }

  html {

    code[data-theme*=" "],
    code[data-theme*=" "] span {
      color: var(--shiki-light);
      background-color: var(--shiki-light-bg);
    }

    &.dark {

      code[data-theme*=" "],
      code[data-theme*=" "] span {
        color: var(--shiki-dark);
        background-color: var(--shiki-dark-bg);
      }
    }
  }

  html {
    code[data-line-numbers] {
      counter-reset: line;
    }

    code[data-line-numbers]>[data-line]::before {
      display: inline-block;
      width: 12px;
      margin-right: 1rem;
      color: #6a737d;
      text-align: right;
      content: counter(line);
      counter-increment: line;
    }

    code[data-line-numbers-max-digits="2"]>[data-line]::before {
      width: 1.25rem;
    }

    code[data-line-numbers-max-digits="3"]>[data-line]::before {
      width: 1.75rem;
    }

    code[data-line-numbers-max-digits="4"]>[data-line]::before {
      width: 2.25rem;
    }

    :is(p, li) [data-line] {
      padding: 2px 4px;
      margin-right: 2px;
      margin-left: 2px;
      text-align: center;
      background-color: var(--kbd-background) !important;
      border-radius: 4px;
      box-shadow: 0 0 0 1px var(--kbd-border);
    }
  }

  * {
    pre {
      padding: 16px;
      overflow-x: auto;

      [data-line] {
        margin-top: 0 !important;
      }
    }

    figure[data-rehype-pretty-code-figure] {
      width: 100%;
      margin-top: 4px;
      border: 1px solid var(--border);
      background: #24292e;
      color: #e1e4e8;
      border-radius: 4px;
    }
  }
}
